.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
  font-size: 24px;
}

.table-container, .chart-container {
  flex: 1;
  margin: 20px;
  background-color: #3b3b3b;
  padding: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #3b3b3b;
  color: #ffffff;
}

table th, table td {
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #4c4c4c;
}

input {
  background-color: #3b3b3b;
  color: #ffffff;
  border: 1px solid #5c5c5c;
  padding: 5px;
  border-radius: 5px;
  width: 97%;
}

button {
  background-color: #5c5c5c;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin: auto;
  width: 50%;
}

button:hover {
  background-color: #6c6c6c;
}

.button-remove {
  background-color: #D57373;
}

.button-remove:hover {
  background-color: #E58383;
}

.button-add {
  background-color: #7FB674;
}

.button-add:hover {
  background-color: #8FC684;
}