
body {
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  align-items: center;
  height: 90vh;
  padding: 0 5%;
  gap: 5%;
}

.table-container,
.chart-container {
  width: 100%;
  height: 80%;
  background-color: #3b3b3b;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.table-container {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead th {
  text-align: left;
  background-color: #444;
  color: #fff;
  padding: 10px;
  border-bottom: 2px solid #555;
}

tbody td {
  padding: 20px;
  border-bottom: 1px solid #555;
}

button {
  padding: 5px 10px;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6c6c6c;
}

.button-remove {
  background-color: #D57373;
}

.button-remove:hover {
  background-color: #E58383;
}

.button-add {
  background-color: #7FB674;
}

.button-add:hover {
  background-color: #8FC684;
}

input {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px;
  margin: -5px;
  border-radius: 3px;
}

.error-container {
  text-align: center;
  color: #E58383;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; 
  color: #ffffff;
  font-size: 24px;
}